.category-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.category-block p {
    margin-bottom: 0;
}

.text-left-image-right-block {
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.guide-name {
    font-size: 22px;
    font-weight: 700;
}

.contact-guide {
    position: absolute;
    bottom: 20px;
}

.text-left-image-right-block .image-block {
    padding: 20px;
}