@font-face {
    font-family: 'IBM Plex Mono', sans-serif;
    src: url('../public/fonts/ibmplexmono-regular-webfont.woff') format('woff'),
        url('../public/fonts/ibmplexmono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

/*** Base CSS Start ***/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

fieldset,
img {
    border: 0;
}

*:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'IBM Plex Mono', sans-serif;
    font-style: normal;
    color: #000;
    font-size: 16px;
    font-variant: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
    -webkit-text-size-adjust: none;
    scroll-behavior: smooth;
}

b,
strong {
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 44px;
    line-height: 1.5;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 40px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 1.3;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #008080;

}

a {
    color: #000;
    text-decoration: none;
}

ul,
ol,
dl {
    margin-left: 0px;
}

li {
    list-style: none;
}

p,
fieldset {
    margin-bottom: 10px;
    margin-top: 0;
    letter-spacing: 1px;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pos-rel {
    position: relative;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.fl-bx {
    display: flex;
    flex-flow: row wrap;
}

.v-top {
    vertical-align: top;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-33 {
    width: 33.33%;
    padding: 0 10px;
}

.w-30 {
    width: 30%;
    padding: 0 10px;
}

.w-70 {
    width: 70%;
    padding: 0 10px;
}

.w-50 {
    width: 50%;
    padding: 0 10px;
}

.w-25 {
    width: 25%;
    padding: 0 10px;
}

.w-75 {
    width: 75%;
    padding: 0 10px;
}

.n-margin {
    margin: 0 -10px;
}

.m-auto {
    margin: auto;
}

.wrapper {
    overflow: hidden;
}

.container {
    max-width: 1260px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 96%;
}

.container-large {
    max-width: 1460px;
}

.container-medium-width {
    max-width: 1170px;
}

.container-small-width {
    max-width: 1068px;
}

.mt-35 {
    margin-top: 35px;
}

.active-nav {
    border-bottom: 2px solid #286ab4;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.bg-white {
    background-color: #fff;
}

.block_title {
    font-weight: 700;
    margin-bottom: 20px;
}

.bg-box {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ECECEC;
    -webkit-box-shadow: 0px 4px 4px 0px rgb(204, 204, 204);
    -moz-box-shadow: 0px 4px 4px 0px rgb(204, 204, 204);
    box-shadow: 0px 4px 4px 0px rgb(204, 204, 204);
}

.text-block {
    padding: 20px;
    position: relative;
    min-height: 190px;
}

.button {
    background-color: #008080;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-white {
    border: 1px solid #008080;
    color: #008080;
    background-color: #ffffff;
}

.section {
    padding: 40px 0;
}

.bg-grey {
    background-color: #E6F2F2;
}

/* header */
#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 12px;
}

.menu_button_block {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

/* Menu CSS */
.icon-bars {
    height: 25px;
    width: 40px;
    position: relative;
}

.nav-bar span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -webkit-transition: 0.25s ease-in-out;
}

.nav-bar span:nth-child(1),
.nav-bar span:nth-child(2) {
    top: 0px;
}

.nav-bar span:nth-child(2n+1),
.active .nav-bar span:nth-child(1),
.active .nav-bar span:nth-child(5) {
    left: 0px;
}

.nav-bar span:nth-child(3),
.nav-bar span:nth-child(4) {
    top: 10px;
}

.nav-bar span:nth-child(5),
.nav-bar span:nth-child(6) {
    top: 20px;
}

.nav-bar span:nth-child(2n) {
    left: 50%;
}

.active .nav-bar span:nth-child(1),
.active .nav-bar span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.active .nav-bar span:nth-child(2),
.active .nav-bar span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-bar span:nth-child(2n+1),
.active .nav-bar span:nth-child(1),
.active .nav-bar span:nth-child(5) {
    left: 0px;
}

.active .nav-bar span:nth-child(2),
.active .nav-bar span:nth-child(6) {
    left: -webkit-calc(50% - 6px);
    left: -moz-calc(50% - 6px);
    left: calc(50% - 6px);
}

.active .nav-bar span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.active .nav-bar span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.active .nav-bar span:nth-child(5),
.active .nav-bar span:nth-child(6) {
    top: 14px;
}

.active .nav-bar span:nth-child(5),
.active .nav-bar span:nth-child(6) {
    top: 14px;
}

.custom_menu ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.custom_menu ul li {
    padding: 10px 20px;
}

.button {
    background-color: #008080;
    color: #ffffff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.hamburger-menu {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 1;
}

.footer-logo,
.logo {
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.footer-logo a,
.logo a {
    display: block;
}

.custom_menu li a:hover {
    color: #008080;
}

.custom_menu .active {
    text-decoration: underline;
    color: #008080;
}

/* Responsive Menu */
@media(max-width: 468px) {
    #header {
        padding-top: 0;
        background-color: #fff;
        height: 80px;
    }

    .header {
        display: block;
        padding: 0;
        border-radius: 0;
        padding-top: 20px;
    }

    .hamburger-menu {
        display: block;
    }

    .menu_button_block {
        display: block;
        position: fixed;
        background: #fff;
        width: 100%;
        padding-left: 20px;
        padding-bottom: 20px;
        height: 100%;
        top: 0;
        transform: translateX(100%);
        transition: transform 260ms ease-in-out;
    }

    .active .menu_button_block {
        transform: translateX(0);
    }

    .bg-layer {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(100%);
    }

    .active .bg-layer {
        transform: translateX(0);
    }

    .custom_menu ul {
        display: block;
        margin-left: 0;
    }

    .custom_menu {
        padding-top: 100px;
        font-size: 18px;
    }

    .custom_menu ul li {
        padding: 10px 0;
    }

    .button_block {
        padding-top: 10px;
    }

    .w-33 {
        width: 100%;
    }

    .w-50 {
        width: 100%;
    }
}